@import "../../styles";

.last-refreshed-title {
  margin-right: 127px;
}

.inputs-wrapper {
  padding-bottom: 1.25em;
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-option-text .group-name {
  display: none;
}
