.DS_Store
bin/*
*.swp
test.txt
/vendor/
/.licensei.cache
client_test.go
/build/

# IDE integration
/.idea/*
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/
cloudinfo.xml
