<header>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-nav">
      <a class="navbar-item" href="https://banzaicloud.com/">
        <img src="assets/logo.png" alt="Banzai Cloud" width="" height="30">
      </a>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto pt-3">
      <li class="nav-item ml-2">
        <a class="github-button" href="https://github.com/banzaicloud/cloudinfo" data-show-count="true"
           aria-label="Star banzaicloud/cloudinfo on GitHub">Star</a>
      </li>
      <li class="nav-item ml-2">
        <a href="https://twitter.com/banzaicloud?ref_src=twsrc%5Etfw" class="twitter-follow-button"
           data-show-count="false">Follow @BanzaiCloud</a>
      </li>
    </ul>
  </nav>
  <section class="hero single-header">
    <div class="row hero-body"
         style="background-image:url(assets/logo_bg.jpg); height:120px; -webkit-background-size: cover; -webkit-box-align: stretch; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-box-pack: justify; -webkit-font-smoothing: antialiased;">
      <div class="col">
      </div>
      <div class="col-10 my-auto">
        <h1 class="title" style="color:white">
          Cloud Instance Type Details
        </h1>
      </div>
      <div class="col">
      </div>
    </div>
  </section>
</header>
<app-products></app-products>
<footer class="bg-light mt-5">
  <div class="row pt-3 pb-3">
    <div class="col-1">
    </div>
    <div class="col-10">
      This site is powered by <a href="http://github.com/banzaicloud/cloudinfo">Telescopes</a> - an API to recommend
      and compare cost efficient infrastructures on different cloud providers.
      To be able to build a service like that, we needed to track machine type and price information programmatically.
      Using the cloud provider APIs to get this info is very cumbersome, so we've decided to build our own service that
      aggregates and caches the product information from the providers and make it open source.<br>
      This service is part of the <a href="http://github.com/banzaicloud/pipeline">Pipeline</a> ecosystem - a feature
      rich enterprise-grade application platform, built for containers on top of Kubernetes.<br>
      <br>
      We strive to provide as accurate information as possible, so the site is updated daily using the cloud provider
      APIs. However this information might not be accurate, so use with care.
      The project is open source and available on <a href="http://github.com/banzaicloud/cloudinfo">Github</a>.
      Contributions and bug reports are welcome.<br>
      <br>
      <div class="alert alert-secondary" role="alert">This site is not affiliated with any of the cloud providers.</div>
    </div>
    <div class="col-1">
    </div>
  </div>
</footer>
