$background-color: #F7F6F6;
$white: rgba(255, 255, 255, 0.87);

$table-cell-border-color: #E0E0E0;
$table-cell-border: 1px solid $table-cell-border-color;
$table-cell-padding-to-border: 24px;

$table-cell-height: 68px;
$table-action-cell-width: 68px;
$table-action-cell-width-small: 56px;

$custom-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

$table-row-radius: 4px;
$table-header-text-color: #B8B8B8;

$search-filter-height: 46px;
$search-line-color: #ECECEC;
$search-font-size: 16px;
$search-text-color: #ECECEC;
$search-icon-size: 17.5px;
$search-icon-button-color: #ECECEC;
$search-icon-button-color-hover: #C6C6C6;
