@import "../../../../../theme/tooltip";

.icon-wrapper {
  width: 80px;
  height: 68px;
  background-color: rgba(1, 30, 93, 0.73);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  align-items: center;

  img {
    margin: auto;
  }

}
